/* SF Pro Display */

@font-face {
    font-family: 'SF Pro Display';
    src: url('../static/fonts/SFPRODISPLAYBOLD.OTF');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../static/fonts/SFPRODISPLAYHEAVYITALIC.OTF');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../static/fonts/SFPRODISPLAYLIGHTITALIC.OTF');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../static/fonts/SFPRODISPLAYREGULAR.OTF');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../static/fonts/SFPRODISPLAYMEDIUM.OTF');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../static/fonts/SFPRODISPLAYTHINITALIC.OTF');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../static/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF');
    font-weight: 200;
    font-style: italic;
}

/* GearedSlab */

@font-face {
    font-family: 'GearedSlab';
    src: url('../static/fonts/GearedSlab.ttf') format('truetype'); 
    font-weight: 400;
    font-style: normal;
}

